
<%- model_class = Order -%>

<div class="container-fluid">
<div class="row-fluid">
<div class="span-lg-12">
<div class="page-header">
  <h1><%=t '.title', :default => Order %></h1>
</div>
<div class="container-fluid">
  <% @orders.each do |order| %>
    <%= render partial: 'order', :locals => {order: order} %>
  <% end %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
</div>
</div>
</div>